body {
    background-color: rgb(213, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center; 
}

.greetings {
    font-weight: bold;
    color: rgb(240, 137, 154);  
}

.game-box {
    width: 900px; 
    height: 700px; 
    outline: 5px solid rgb(240, 137, 154);
    margin-left: 320px; 
    padding-top: 0px; 
}

#game-vid {
    position: relative; 
    width: 100%;
    height: 100%; 
    padding-top: 56.25%; 
    top: -110.9%; 
}

#time {
    font-size: 100px; 
    color: rgb(240, 137, 154);  
    padding-top: 30%;    
}

.process-button {
    background-color: rgb(240, 137, 154);
    color: rgb(213, 255, 255)
}

#result {
    font-size: 50px; 
    color: rgb(240, 137, 154); 
}